.nav_box {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  padding: 16px;
  background-color: #766A92;
}

.nav_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  list-style: none;
  font-size: 20px;
}
.nav_link {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: color 250ms; 
}

.nav_link:hover {
  color: #b800a8;
  outline: none;
}


.navigation {
  width: 100px;
}
